.container {
  width: 600px;
  height: 600px;
  border: 1px blue dotted;
}

.flex {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: flex-start;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  align-content: center;
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: stretch; */
}

.child {
  background: tomato;
  margin: 5px;
  flex-basis: 100px;
  height: 100px;
  color: white;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
}

.pos1 {
  order: 1;
}
